/* make a color for the green and the blue and white */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.App {
  color: #334036;
  text-align: center;
}

.padded {
  padding-top: 7vh;
}

h2 {
  font-size: 2.5vmax;
}

p {
  font-size: 1.5vmax;
}

a {
  font-size: 2vmax;
}

.small-section {
  height: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.big-section {
  height: 80%;
}

.flex {
  display: flex;
}

.position {
  position: absolute;
}

.halfsection {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* My Work slider */

.slide img {
  width: 90%;
  margin: 0 auto;
}
.slide {
  transform: scale(0.6);
  transition: transform 400ms;
  opacity: 0.7;
}
.activeSlide {
  transform: scale(1);
  opacity: 1;
}
.arrow {
  color: #334036;
  position: absolute;
  transition: opacity 400ms;
  cursor: pointer;
  z-index: 5;
  display: block;
}

.arrow:hover {
  opacity: 0.5;
}

.next {
  right: -5%;
  top: 50%;
}

.prev {
  left: -5%;
  top:50%;
}

/* Conctact Me section */

.section-contact {
  height: 85vh;
  display: flex;
  margin-top: 5%;
}

.contact-form-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7.5vw;
  height: 85vh;
}

.contact-me-background {
  background-image: url(./photos/bluue-wave.png);
  width: 100%;
  height: 100%;
  background-size: 110%;
  background-position-x: -5vw;
  background-position-y: 15vh;
  background-repeat: no-repeat;
  object-position: 60% 30%;
}

form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 90%;
  font-size: 20px;
  background-color:rgba(240, 243, 244, 0.7);
  padding: 1vw;
}

@media screen and (max-width: 850px) {
  form {
    width: 85vw;
  }
}

.section2 {
  height: 70%;
  margin-bottom: 2vh;
}

.width100 {
  width: 100%;
}

.padding2 {
  padding: 10px;
}

.height100 {
  height: 98%;
}

.form-format {
  padding: 10px;
  margin-bottom: 2vh;
}

input {
  border: none;
  color:#334036;
}

button{
  border: none;
  background-color:rgba(90,173,125);
  color:#334036;
}

button:hover {
  color: rgba(240, 243, 244, 0.7);
  background-color: rgba(90,173,125, 0.5) ;
}

textarea {
  border: none;
  color:#334036;
}


.footer {
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  justify-content: center;
}
